////////////////////////////////////////////////////////
// LOGO

.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

////////////////////////////////////////////////////////
// SEARCH
.search {
    flex: 0 0 40%;

    @include flex-center;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 10rem;
        width: 90%;
        transition: all .2s ease-in-out;
        margin-right: -3.25rem;
        
        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder, 
        &::placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);
        transition: all .2 ease;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }
}

////////////////////////////////////////////////////////
// USER NAVIGATION

.user-nav {
    display: flex;
    align-items: center;
    align-self: stretch;

    // tylko direct children
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;

        // flexbox also works with text inside, with no html children
        @include flex-center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}

////////////////////////////////////////////////////////
// SIDE NAVIGATION

.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: var(--color-primary);
            transform: scaleY(0);
            transition: transform .2s ease,
                        width .4s cubic-bezier(1,0,0,1) .2s,
                        background-color .1s;
        }

        &:hover::before,
        &--active::before {
            transform: scaleY(1);
            width: 100%;
        }

        &:active::before {
            background-color: var(--color-primary-light);
        }
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;

        // d:b bo wtedy mozemy kliknac link nawet gdy nie mamy na samym napisie tylko do konca
        // tego side-nava
        // display: block;
        // df to tez db

        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;

        position: relative;
        z-index: 10;
    }

    &__icon {
        height: 1.75rem;
        width: 1.75rem;
        fill: currentColor; // color tego elementu, lub elementu rodzica, fajne przy hoverze
                            // nie musimy pisac drugiego hovera do icon, bo wtedy color linku to zielony, wowczas
                            // current color naszego icon tez bedzie zielony
        margin-right: 2rem;
    }
}

////////////////////////////////////////////////////////
// LEGAL TEXT

.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}

////////////////////////////////////////////////////////
// GALLERY

.gallery {
    display: flex;

    &__photo {
        width: 100%;
        display: block; // dajemy to bo gdy jest normalnie inline, zostawia jakas dziwna przestrzen
        // pod spodem no a my chcemy tego uniknac, wiec gdy photo raczej display: block;
    }
}

////////////////////////////////////////////////////////
// HOTEL OVERVIEW

.overview {
    display: flex;
    border-bottom: var(--line);
    align-items: center;

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
        // dajemy tutaj padding zeby oddzielic troche nie jakis margin bo, chcemy zeby
        // w sumie nasz h1 byl duzy zeby mozna bylo go zobaczyc a przy paddingu wlasnie
        // mozemy to zrobic
    }

    &__stars {
        // flex: 1;
        display: flex;
        // usuwamy dziwna przerwe pod elementami, bo zachowuja sie jak text, czyli maja cos takiego
        // a gdy jest df to nie ma tego :D

        margin-right: auto;
        // to samo co flex: 1; natomiast no nie mamy elementu rozciagnietego na caly
        // tylko jest tam margin MEEEGA FAJNE
        // i tak przesuwa wszystkie inne elementy, bo auto czyli tyle ile moze max miec
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        align-self: stretch;
        margin-left: 3rem;
        color: #fff;
        padding: 0 2.25rem;
        @include flex-center;
        flex-direction: column;
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;
    }

    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;
    }
}

////////////////////////////////////////////////////////
// BUTTON INLINE

.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    background-color: transparent;
    padding-bottom: 2px;
    display: inline-block;
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
        color: var(--color-grey-dark-1);
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate {
    0%,
    100% {
        transform: scale(1);
        box-shadow: none;
    } 50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: .25);
    }
}

////////////////////////////////////////////////////////
// PARAGRAPH

.paragraph:not(:last-of-type) { //last-child nie dziala bo paragraph nie jest ostatnim dzieckiem
                                // naszego containera, wiec dajemy tylko ze ostatni taki typ
    margin-bottom: 2rem;
}

////////////////////////////////////////////////////////
// LIST

.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
    display: flex;
    flex-wrap: wrap;
    &__item {
        flex: 0 0 50%;
        margin-bottom: .7rem;

        &::before {
            content: '';
            display: inline-block;
            height: 1rem;
            width: 1rem;
            margin-right: .7rem;

            // older browsers
            // background-image: url(../img/SVG/chevron-thin-right.svg);
            // background-size: cover;
            // we can not set the fill property

            // newer browsers
            background-color: var(--color-primary);
            -webkit-mask-image: url(../img/SVG/chevron-thin-right.svg);
            mask-image: url(../img/SVG/chevron-thin-right.svg);;
            -webkit-mask-size: cover;
            mask-size: cover;

        }
    }
}

////////////////////////////////////////////////////////
// RECOMMEND

.recommend {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__count {

    }

    &__friends {

    }

    &__photo {
        box-sizing: content-box; // zeby border nie wchodzil w width ani height, tylko byl na zewnatrz
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;

        &:not(:last-child) {
            margin-right: -1.5rem;
        }
    }
}